:root{
    --TitleBarBackgroundColor: #090909;
    --PrimaryBackgroundColor: #191919;
    --PrimaryTextColor: #ABA9A9;
    --TabBackgroundColor: linear-gradient(180deg, #252525 0%, #191919 100%);
    --SideBarBackgroundColor: linear-gradient(180deg, #2E2E2E 0%, #191919 79.58%);
}
